@font-face {
    font-family: "ProstoRegular";
    src: url("../fonts/ProstoRegular.eot");
    src: url("../fonts/ProstoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProstoRegular.woff") format("woff"),
    url("../fonts/ProstoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: "ProstoRegular";
    background: linear-gradient(-90deg, rgb(255,207,145) 0%, rgb(254,214,188) 50%, rgb(72,120,130,0.7) 100%);
    margin: 0;
}

p {
    font-size: large;
    margin: auto 2vw;
}

a {
    font-size: larger;
    text-decoration: none;
    color: black;
}

b {
    font-weight: normal;
}

#active {
    color: rgb(40,73,7);
}

a:hover {
    color: rgb(40,73,7);
}

h1, h2, h3 {
    text-align: center;
    margin: 5vh 2vw;
}

h3 {
    margin-top: 0;
}

#logo {
    height: 9vw;
    padding-left: 5%;
}

#menu {
    height: 7vw;
    min-width: 30vw;
    max-width: 60vw;

    display: flex;
    justify-content: space-around;

    position: absolute;
    right: 5vw;
    top: 2vw;

    z-index: 1;
}

#menu div {
    align-self: center;
}

#menu a {
    padding-right: 5px;
    padding-left: 5px;
}

#main_photo {
    width: 100%;
    max-height: 80vh;

    position: relative;

    padding: 0;
    margin: 0;
}

#main_photo img {
    width: 95%;
    max-height: inherit;
    object-fit: cover;
    padding-left: 2.5%;
    padding-right: 2.5%;

}

#main_photo h1 {
    width: 30vw;
    height: fit-content;
    text-align: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 15vw;

    margin: auto 0;

    color: rgb(40,73,7);
}

#main_info {
    display: flex;
    justify-content: space-around;

    /*max-height: 90vh;*/
    height: fit-content;
    margin: 0 5vw;

    vertical-align: bottom;
}

#main_info div{
    width: fit-content;

    position: relative;
    bottom: 0;

    margin: 0;
    align-self: flex-end;
}

#main_info img {
    width: 100%;
}

.album {
    display: flex;
    vertical-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100vw;
    height: fit-content;

    margin: 0;
}

.album div {
    margin-bottom: 30px;
    width: 30vw;
}

.album div p {
    padding: 0;
    margin: 0;
}

.album img {
    opacity: 0.7;
    width: 27vw;

    border: solid black 3px;
}

.album img:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    background: rgba(125,117,119,0.2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: x-small;
}

footer:hover {
    background: rgba(125, 117, 119, 0.9);
}

#carousel-place {
    height: fit-content;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;

    background-attachment: local;
}

.carousels {
    display: none;
    position: absolute;
    width: 90%;
    height: fit-content;
    left: 5%;
    top: 50vh;
    transform: translateY(-50%);
}

.carousels section {
    width: 100%;
    height: fit-content;
    padding: 4rem 0;

    margin: 0;
}
.carousels section .carousel-container {
    width: 100%;
    height: fit-content;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem;
}
.carousels section .carousel-container .item {
    width: 100%;
    height: fit-content;
    position: relative;
    display: none;
    animation: fade 0.3s ease-in-out;
}
.carousels section .carousel-container .item .numbertext {
    padding: 0.5rem 0.75rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 0.9375rem;
    font-size: 0.875rem;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.9);
}
.carousels section .carousel-container .item .image {
    width: 100%;
    height: auto;
    display: flex;
}
.carousels section .carousel-container .item .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.carousels section .carousel-container .item .text {
    width: 100%;
    padding: 0.625rem 0.9375rem;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.9);
}
.carousels section .carousel-container .item .text .title {
    margin: 0.5rem 0 0 0;
    font-size: 1.2rem;
    font-weight: normal;
}
.carousels section .carousel-container .prev,
.carousels section .carousel-container .next {
    width: 2rem;
    height: 2rem;
    padding: 0.3125rem;
    position: absolute;
    top: calc(50% - 1rem);
    user-select: none;
    font-size: 2rem;
    color: #f2f2f2;
    border-radius: 50%;
    transition: 0.6s ease;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.carousels section .carousel-container .prev {
    content: "";
    left: 0.8rem;
}
.carousels section .carousel-container .next {
    right: 0.8rem;
}

.prev b, .next b {
    position: absolute;
    padding-left: 0.55rem;
    top: calc(50% - 1.27rem);
}

.carousels section .carousel-container .close {
    width: 2rem;
    height: 2rem;
    padding: 0.3125rem;
    position: absolute;
    top: 1rem;
    user-select: none;
    font-size: 2rem;
    color: #f2f2f2;
    border-radius: 50%;
    transition: 0.6s ease;
    background-color: rgba(0, 0, 0, 1);
    right: 0.8rem;
    cursor: pointer;
}

.close b {
    position: absolute;
    top: 0.2rem;
    padding-left: 0.2rem;
}

.carousels section .carousel-container .dots {
    padding: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousels section .carousel-container .dots .dot {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.125rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.6s ease;
}
.carousels section .carousel-container .dots .dot:focus,
.carousels section .carousel-container .dots .dot:hover {
    background-color: #717171;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

#about-wrapper {
    display: flex;
    min-height: calc(100vh - 9.5vw - 5vh);
    height: fit-content;
    flex-direction: column;
    top: 5vh;
}

#about-text {
    position: relative;
    width: 40vw;
    left: 30vw;
}

#contact-text {
    display: flex;
    justify-content: space-around;
    vertical-align: center;
    position: relative;
    top: 10vh;
    padding-top: 20vh;
    width: 90vw;
}

#contact-text #portrait {
    width: 12vw;
    height: auto;
}

#contact-text #logo {
    width: 12vw;
    height: auto;
}

#contact-text div {
    align-self: center;
    margin-left: 10px;
}

#portrait-block p {
    margin-left: 0;
}

@media screen and (max-width: 700px) {
    #header {
        padding-top: 3vh;
    }

    p {
        font-size: small;
    }

    #logo {
        height: 12vw;
    }

    #menu {
        height: 12vw;
        width: 60vw;
        top: 3vh;
    }

    h1 {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }

    .carousels section .carousel-container .item .numbertext {
        padding: 0.12rem 0.5rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
        border-radius: 0.5rem;
        font-size: 0.5rem;
    }

    .carousels section .carousel-container .prev,
    .carousels section .carousel-container .next {
        width: 0.5rem;
        height: 0.5rem;
        font-size: smaller;
    }

    .carousels section .carousel-container .close {
        width: 0.5rem;
        height: 0.5rem;
        font-size: small;
    }

    .close b {
        position: absolute;
        top: 0.15rem;
        padding-left: 0;
        right: 0.23rem;
    }

    .prev b, .next b {
        position: absolute;
        padding-left: 0.1rem;
        top: calc(50% - 0.52rem);
    }

    #about-text {
        width: 90vw;
        left: 5vw;
    }

    #about-wrapper {
        min-height: calc(100vh - 12vw - 8vh);
    }

    .album div {
        width: 40vw;
    }

    #contact-text {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        top: 3vh;
    }

    #contact-text #logo {
        width: 15vh;
        padding-top: 5vh;
    }

    #contact-text #portrait-block {
        margin-top: 10vh;

        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }

    #contact-text #portrait {
        width: 15vh;
    }

}